@model IEnumerable<LunaBeauty.Models.Vendedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Nossa equipe</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar novo vendedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                    <a class="btn btn-outline-primary me-2" asp-action="Edit" asp-route-id="@item.VendedorId">Editar</a> 
                    <a class="btn btn-outline-primary me-2" asp-action="Details" asp-route-id="@item.VendedorId">Detalhes</a> 
                    <a class="btn btn-outline-primary me-2" asp-action="Delete" asp-route-id="@item.VendedorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
