@model IEnumerable<LunaBeauty.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos LunaBeauty</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crie novo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteOrigem.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendedorOrigem.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>

            <td>
                    <a class="btn btn-outline-primary me-2" asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> 
                    <a class="btn btn-outline-primary me-2" asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> 
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.PedidoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
